@import "_variables.scss";
/*
===============================================================================================
                                 	GENERAL STYLES
===============================================================================================
*/


*{
	margin:0;
	padding:0;
}
body{
	background: $green-primary;
	font-family: Helvetica, Arial;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


a{
	color: #FFF;
	text-decoration:none; 
}



h1{
	font-family:Quicksand;
	font-size: 2.3em;
	color: #6C7A89;
}
h2{
	font-family:Quicksand;
	font-size: 1.8em;
	color: #6C7A89;
}
h3{
	font-family:Quicksand;
	font-size: 1.3em;
	color: #6C7A89;
}
h4{
	font-family:Quicksand;
	font-size: 1.2em;
	color: #6C7A89;
}
h5{
	font-family:Quicksand;
	font-size: 1em;
	color: #6C7A89;
}
h6{
	font-family:Quicksand;
	font-size: 0.8em;
	color: #6C7A89;
}

progress{
	width: 80%;
	height: 20px;
	margin: 20px;
}
/*
===============================================================================================
                                 	GENERAL CLASSES
===============================================================================================
*/

.container{
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}
